{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load parcelas %}


{% block content %}

<h1>Your shopping cart</h1>
<table class="cart">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Adicionar</th>
            <th>Diminuir</th>
            <th>Quantidade</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>
                <a href="{{ product.get_absolute_url }}">
                    <img
                        src="{% if product.image %}{{ product.image.url }} {% else %}{% static 'img/comp_estudante.png' %}{% endif %}">
                </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    {{ item.add_quantity_form.quantity }}
                    <input type="submit" value="Add">
                </form>
            </td>
            <td>
                <form action="{% url 'cart:cart_update' product.id %}" method="post">
                    {% csrf_token %}
                    {{ item.update_quantity_form.quantity }}
                    <input type="submit" value="Update">
                </form>
            </td>
            <td>
                {{item.quantity}}
            </td>
            <td>
                <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                    <input type="submit" value="Remove">
                    {% csrf_token %}
                </form>
            </td>
            <td>${{ item.price }}</td>
            <td>${{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url 'products:product_list_by_category' 'smartphone' %}" class="button light">Continue shopping</a>
</p>

<a href="{% url 'order:order_create' %}" class="button">
    Checkout
</a>

{% endblock %}