{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="login-register-form-container">
    <div class="form-login-content">
        <div class="form-login-items">
            <form method="post" action="{% url 'accounts:login_user' %}">
                {% csrf_token %}

                <div>
                    <h2>Já possui cadastro em nosso site?</h2>
                    <h3>Entre em nosso site e aproveite os mais diversos produtos disponíveis</h3>
                </div>
                {{ login_form.non_field_errors }}
                {% for field in login_form %}
                <div class="form-login-items-labelinput">
                    <div class="form-login-items-labelinput-label">
                        {{field.label}} {% if field.label != '' %} <span>*</span> {% endif %}
                    </div>
                    <div>
                        {{field}}
                    </div>
                </div>
                {% endfor %}
                <a href="{% url 'accounts:password_reset' %}">Esqueceu a senha?</a>
                <button type="submit" value="Submit"> Continuar </button>
            </form>
        </div>
        <div id="linha-vertical"></div>
        <div class="form-login-items-register">
            <div>
                <h2>Não possui conta em nosso site?</h2>
                <p>Registre-se agora e obtenha muito mais vantagens</p>
            </div>
            <ul>
                <li><i class="fa-duotone fa-check fa-2x"></i><span>Diversos produtos a sua escolha</span></li>
                <li><i class="fa-duotone fa-check fa-2x"></i><span>Fácil de buscar e comprar</span></li>
                <li><i class="fa-duotone fa-check fa-2x"></i><span>Descontos exclusivos para usuários</span></li>
                <li><i class="fa-duotone fa-check fa-2x"></i><span>Segurança na hora do pagamento</span></li>
                <li><i class="fa-duotone fa-check fa-2x"></i><span>O único e-commerce completo</span></li>
            </ul>
            <a href="{% url 'accounts:register' %}"><button>Registre-se</button></a>
        </div>

    </div>



</div>
{% endblock %}

<form action="">
    {% csrf_token %}
    {{login_form.as_p}}
</form>