{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load parcelas %}


{% block title %} detail-product {% endblock %}

{% block content %}

<!-- <div id="sidebar">
    <h3>Categories</h3>
    <ul>
        <li {% if not category %}class="selected" {% endif %}>
            <a href="{% url 'core:index' %}">All</a>
        </li>
    </ul>
</div> -->
<!--
    TODO PAGINAÇÃO DOS ITEMS
-->

<div class="product-detail-container">
    <div class="product-detail-content">
        <h1>{{product|capfirst}}</h1>
        <div class="product-detail-content-images">
            <div class="product-detail-items-images-group">
                <div class="product-detail-item-images">
                    {% for image in page_images %}
                    <a href="{% url 'products:product_detail_image' product.category product.slug image.id%}">
                        <img src="{{image}}" alt="test" {% if image == image_selected %} style="border: 3px solid #61a5bf;" {% endif %}>
                    </a>
                    {% endfor %}
                    <!-- PAGINATION NEXT -->
                    {% if page_images.has_next %}
                        <a href="?page={{ page_images.next_page_number }}"><i class="fa-duotone fa-forward"></i></a>
                    {% endif %}

                    <!-- PAGINATION PREVIOUS -->
                    {% if page_images.has_previous %}
                        <a href="?page={{ page_images.previous_page_number }}"><i class="fa-solid fa-backward"></i></a>
                    {% endif %}
                </div>
                <div class="product-detail-item-image-first">
                    <img src="{% if image_selected %} {{image_selected}} {% else %} {{image_first}} {% endif %}" alt="test">
                </div>
            </div>
            <div class="product-detail-item-atributes">
                <div>
                    <h2>R${{product.price|intcomma}}</h2>
                    <h3>Em até 10x de R$ {{product.price|parcelas:"10"|intcomma}}</h3>
                </div>
                <div>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="Add to cart">
                    </form>
                </div>
                <div class="product-detail-item-atributes-like">
                    <div>
                        <form method="post" action="{% url 'products:like_deslike_product' product.id 'like' 'product' %}">
                            {% csrf_token %}
                            <button type="submit"> {% if request.user in product.like.all %} <i class="fa-solid fa-thumbs-up fa-4x"></i> {% else %}
                                <i class="fa-regular fa-thumbs-up fa-4x"></i> {% endif %} </button>
                        </form>
                        <h3 style="margin: 0 auto;">{{product.like.count}}</h3>
                    </div>
                    <div>
                        <form method="post" action="{% url 'products:like_deslike_product' product.id 'deslike' 'product' %}">
                            {% csrf_token %}
                            <button type="submit">{% if request.user in product.deslike.all %} <i class="fa-solid fa-thumbs-down fa-4x"></i> {% else %} 
                                <i class="fa-regular fa-thumbs-down fa-4x"></i> {% endif %}</button>
                            <button type="submit"></button>
                        </form>
                        <h3>{{product.deslike.count}}</h3>
                    </div>
                </div>
            </div>   
        </div>
        <div class="product-detail-content-description">
            <h2>Descrição</h2>
            {% autoescape off %}
                {{product.description}}
            {% endautoescape %}
        </div>
        <div class="product-detail-content-comments">
            {% with total_comments=product.comment.all.count %}
                <h2>{{ total_comments }} Comentário{{ total_comments|pluralize }}</h2>
            {% endwith %}
            {% for comment in product.comment.all %}
                <div class="product-detail-items-comments">
                    <div class="product-detail-items-name-created">
                        <h3>{{comment.user.get_full_name|capfirst}}</h3>
                        <div class="product-detail-items-created-likes">
                            <h5>{{comment.created}}</h5>
                            <form method="post" action="{% url 'products:like_deslike_product' comment.id 'like' 'comment' %}" style="margin: 0px 20px;">
                                {% csrf_token %}
                                <button type="submit"> {% if request.user in comment.like.all %} <i class="fa-solid fa-thumbs-up fa-2x"></i> {% else %}
                                    <i class="fa-regular fa-thumbs-up fa-2x"></i> {% endif %} 
                                </button>
                                <h3 style="margin: 0 auto;">{{comment.like.count}}</h3>
                            </form>
                            <form method="post" action="{% url 'products:like_deslike_product' comment.id 'deslike' 'comment' %}">
                                {% csrf_token %}
                                <button type="submit">{% if request.user in comment.deslike.all %} <i class="fa-solid fa-thumbs-down fa-2x"></i> {% else %} 
                                    <i class="fa-regular fa-thumbs-down fa-2x"></i> {% endif %}
                                </button>
                                <h3>{{comment.deslike.count}}</h3>
                            </form>
                        </div>
                    </div>
                    <p>{{comment.body|capfirst}}</p>
                </div>
            {% endfor %}

            <hr style="margin-bottom: 20px;">

            <div class="product-detail-items-comment-form">
                <form method="post" action="">
                    {% csrf_token %}
                    {% for field in comment_form %}
                        {{field.label|capfirst}}:
                        {{field}}
                    {% endfor %}
                        
                      <button {% if button_status %} disabled {% else %} None {% endif %} type="submit"> Comentar </button>
                </form> 
            </div>
        </div>
    </div>
</div>


{% endblock %}