{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/stylee.css' %}">
    <script src="https://kit.fontawesome.com/53c22141b9.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/python.png' %}"/>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="header-content">
                <div class="header-item-logo">
                    <a href="{% url 'core:index' %}"><img class="header-item-logo-img"
                            src="{% static 'img/python.png' %}" alt=""></a>
                </div>
                <div class="header-item-form">
                    <a href="{% url 'core:index' %}">
                        <h1>Py Commerce</h1>
                    </a>
                    <form>
                        <input type="text" id="search" name="search">
                    </form>
                    <ul class="header-item-form-categorias">
                        <a href="{% url 'products:product_list_by_category' 'smartphone' %}"><li>Smartphone</li></a>
                        <a href="{% url 'products:product_list_by_category' 'computador' %}"><li>Computador</li></a>
                        <a href="{% url 'products:product_list_by_category' 'eletronicos' %}"><li>Eletrônicos</li></a>
                        <a href="{% url 'products:product_list_by_category' 'acessorios' %}"><li>Acessórios</li></a>
                    </ul>
                </div>
                <div class="header-item-right">
                    <div class="header-item-right-meuspedidos">
                        <i class="fa-solid fa-gift"></i>
                        {% if request.user.is_authenticated %}
                            <a href="#meuspedidos"><span>Olá, {{user_authenticated|capfirst}} </span></a>
                        {% else %}
                            <a href="{% url 'accounts:login_user' %}"><span>{{user_authenticated|capfirst}}</span></a>
                        {% endif %}
                    </div>
                    <div>
                        <a href="#profile"><i class="fa-2x fa-sharp fa-solid fa-user"></i></a>
                        <a href="{% url 'cart:cart_detail' %}"><i class="fa-2x fa-sharp fa-solid fa-cart-shopping"></i></a>
                        <span class="fa-layers-counter">{{cart.get_quantity_products}}</span>
                    </div>
                    <div class="header-item-right-minhaconta">
                        <i class="fa-solid fa-gift"></i>
                        <a href="{% url 'perfil:my_perfil' %}"> <span>Minha conta</span></a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    {% block content %}

        {% block js %} {% endblock %}

    {% endblock %}


</body>

</html>